@import "./utils/variables";

body {
  font-family: $fontParagraph;
  color: $text;
  background-color: $backgroundDark;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 20px;
  line-height: 32px;
}

a {
  color: $iris;
  text-decoration: none;
}

sup a {
  text-decoration: none;
}

blockquote {
  box-shadow: $text 3px 0px 0px 0px inset;
  margin-left: 0px;
  padding-left: 30px;
}

pre {
  background: none !important;
}

pre code {
  font-family: $fontCode;
  font-size: 0.8em;
  line-height: 1.4em;
  display: block;
  background: $base;
  border: 4px solid $overlay;
  padding: 2rem;
  overflow: auto;
  border-radius: 1.5rem;
}

code {
  font-size: 90%;
  background: $pine;
  border-radius: 5px;
  padding: 1px 6px;
}


table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
  border-radius: 5px;

  th, td {
    border: 1px solid $muted;
    padding: 10px;
  }

  th {
    background: $overlay;
  }
}

.footnotes {
  hr {
    border: 0;
    height: 1px;
    background: $muted;
  }
  ol {
    margin: 0 0 0 40px;
    padding: 0;
  }

  a.footnote-backref {
    text-decoration: none
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $fontHeader;
  }
}

@-ms-viewport{
  width: device-width;
}
