@import "./utils/variables";

body {
  font-family: $fontParagraph;
  color: $text;
  background-color: $backgroundDark;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 20px;
  line-height: 32px;
}

a {
  color: $pine;
}

blockquote {
  box-shadow: $text 3px 0px 0px 0px inset;
  margin-left: 0px;
  padding-left: 30px;
}

pre {
  background: none !important;
}

pre code {
  font-family: $fontCode;
  font-size: 75%;
  display: block;
  background: $base;
  border: 4px solid $overlay;
  padding: 2rem;
  overflow: auto;
  border-radius: 1.5rem;
}

code {
  font-family: $fontCode;
  font-size: 75%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $fontHeader;
  }
}

@-ms-viewport{
  width: device-width;
}
