@import "./utils/variables";

body {
  font-family: $fontParagraph;
  color: $text;
  background-color: $backgroundDark;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.6rem;
  @media ($phone) {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

a {
  color: $iris;
  text-decoration: none;
  overflow-wrap: anywhere;
}

sup{ 
  a {
    text-decoration: none !important;
    margin-left:0.3rem;
  }
}

blockquote {
  border-left: 0.2rem solid $muted;
  margin-left: 0px;
  padding-left: 30px;
  color: $muted;
}
.highlight {
   border: 0.2rem solid $overlay;
   padding: 0 1rem 0 0.5rem;
   background-color: $base;
   border-radius: 1rem;

 ::-webkit-scrollbar {
     -webkit-appearance: none;
 }

 ::-webkit-scrollbar:vertical {
     height: 0.5rem;
     width: 0.7rem;
 }

 ::-webkit-scrollbar:horizontal {
     height: 0.5rem;
 }

 ::-webkit-scrollbar-thumb {
     background-color: $muted;
     border-radius: 2rem;
 }

 ::-webkit-scrollbar-track {
     border-radius: 2rem;  
     background-color: $base; 
 }

}
pre {
  background: none !important;
  code {
    font-family: $fontCode;
    font-size: 0.7rem;
  }
}

p code {
  color: $foam;
  font-weight: bold;
  font-family: $fontParagraph;
}


table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
  border-radius: 5px;

  th, td {
    border: 1px solid $muted;
    padding: 10px;
  }

  th {
    background: $overlay;
  }
}

.footnotes {
  hr {
    border: 0;
    height: 1px;
    background: $muted;
  }
  ol {
    margin: 0 0 0 40px;
    padding: 0;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $fontHeader;
    line-height: 1.4em;
  }
}

@-ms-viewport{
  width: device-width;
}
