// Colors
$blue: #3366cc;

$surface: #1f1d2e;
$overlay: #26233a;
$subtle:  #908caa;
$base:    #191724;
$muted:   #6e6a86;
$text:    #e0def4;
$love:    #eb6f92;
$gold:    #f6c177;
$rose:    #ebbcba;
$pine:    #31748f;
$foam:    #9ccfd8;
$iris:    #c4a7e7;

$backgroundDarker: $base;
$backgroundDark: $surface;

//Fonts
$fontHeader: 'JetBrains Mono', monospace;
$fontParagraph: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
$fontCode: 'JetBrains Mono', monospace;

// Content
$breakLarge: 992px;
$width: 760px;

// Media queries
$phone: "max-width: 684px";
$tablet: "max-width: 900px";
