{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author }}
{{ end }}

{{ define "main" }}

<div>
    <div class="listHeader">
        <h1>{{ .Title }}</h1>
    </div>

    {{- if isset .Site.Taxonomies "tags" }}
      {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
      <div class="postTags filter">
        {{- range $name, $items := .Site.Taxonomies.tags }}
        <a class="tags" href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}/">{{ $name | humanize }}</a>
        {{- end }}
      </div>
      {{- end }}
    {{- end }}
    {{ with .Content }}

    <div class="listContent">
        {{- . -}}
    </div>
    {{ end }}

    <div>
        {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "note") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
        {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "note" }}
        {{ $paginator := .Paginate (where .RegularPages "Type" $contentTypeName) }}
        {{ range $paginator.Pages }}
            <!-- [html-validate-disable-next prefer-native-element] -->
            <div class="postListItem compact" role="listitem">
                <div class="postHeader">
                  <a href="{{ .Permalink }}" class="postTitle">{{ .Title }}</a>
                  {{ if .Params.tags }}
                  <div class="postTags">
                    {{ range .Params.tags }}
                    <a href="{{ (urlize (printf "tags/%s" . )) | absLangURL }}/">{{ . }}</a>
                    {{ end }}
                  </div>
                  {{ end }}
                </div>
            </div>
        {{end}}
    </div>
    <div class="pagination">
      <div class="wrapper">
        {{ if .Paginator.HasPrev }}
          <span class="button previous">
            <a href="{{ .Paginator.Prev.URL }}">
              <span class="button-icon">←</span>
              <span class="button-text">{{ $.Site.Params.NewerPosts | default "Newer posts" }}</span>
            </a>
          </span>
        {{ end }}
        {{ if .Paginator.HasNext }}
          <span class="button next">
            <a href="{{ .Paginator.Next.URL }}">
              <span class="button-text">{{ $.Site.Params.OlderPosts | default "Older posts" }}</span>
              <span class="button-icon">→</span>
            </a>
          </span>
        {{ end }}
      </div>
    </div>
</div>

{{ end }}
