@import "../utils/variables";

.postDate {
  float: right;
  color: $text;
}

.postTitle {
  color: $rose;
  text-decoration: none;
  text-transform: capitalize;
  font-family: $fontHeader;
  font-size: 1.2em;
  float: left;
}

.postHeader {
  overflow: hidden;
}

.postsList {
  margin-top: 20px;
}

.postListItem {
  padding: 20px;
  background-color: $overlay;
  margin-bottom: 2.5rem;
  border-radius: 1rem;
}

.postExcerpt {
  text-align: initial;
  text-decoration: none;
  color: $text;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.noDecoration {
  text-decoration: none;
}

a,
a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}
