@import "../utils/variables";


/* Background */
.bg {
  color: $text;
  background-color: $base;
}

/* PreWrapper */
.chroma {
  color: $text;
  overflow: auto;
}

/* Other */
.chroma .x {}

/* Error */
.chroma .err {
  color: $love
}

/* CodeLine */
.chroma .cl {}

/* LineLink */
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
  color: $subtle
}

/* LineTableTD */
.chroma .lntd:first-child {
  width: 3rem;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineHighlight */
.chroma .hl {
  background-color: $surface
}

/* LineNumbersTable */
.chroma .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: $subtle;
  display: flex;

  &:hover {
    color: $text
  }
}

/* LineNumbers */
.chroma .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: $subtle;
}

/* Line */
.chroma .line {
  display: flex;
}

/* Keyword */
.chroma .k {
  color: $pine
}

/* KeywordConstant */
.chroma .kc {
  color: $pine
}

/* KeywordDeclaration */
.chroma .kd {
  color: $pine
}

/* KeywordNamespace */
.chroma .kn {
  color: $iris
}

/* KeywordPseudo */
.chroma .kp {
  color: $pine
}

/* KeywordReserved */
.chroma .kr {
  color: $pine
}

/* KeywordType */
.chroma .kt {
  color: $pine
}

/* Name */
.chroma .n {
  color: $rose
}

/* NameAttribute */
.chroma .na {
  color: $rose
}

/* NameBuiltin */
.chroma .nb {
  color: $rose
}

/* NameBuiltinPseudo */
.chroma .bp {
  color: $rose
}

/* NameClass */
.chroma .nc {
  color: $foam
}

/* NameConstant */
.chroma .no {
  color: $gold
}

/* NameDecorator */
.chroma .nd {
  color: $subtle
}

/* NameEntity */
.chroma .ni {
  color: $rose
}

/* NameException */
.chroma .ne {
  color: $pine
}

/* NameFunction */
.chroma .nf {
  color: $rose
}

/* NameFunctionMagic */
.chroma .fm {
  color: $rose
}

/* NameLabel */
.chroma .nl {
  color: $rose
}

/* NameNamespace */
.chroma .nn {
  color: $rose
}

/* NameOther */
.chroma .nx {}

/* NameProperty */
.chroma .py {
  color: $rose
}

/* NameTag */
.chroma .nt {
  color: $rose
}

/* NameVariable */
.chroma .nv {
  color: $rose
}

/* NameVariableClass */
.chroma .vc {
  color: $rose
}

/* NameVariableGlobal */
.chroma .vg {
  color: $rose
}

/* NameVariableInstance */
.chroma .vi {
  color: $rose
}

/* NameVariableMagic */
.chroma .vm {
  color: $rose
}

/* Literal */
.chroma .l {
  color: $gold
}

/* LiteralDate */
.chroma .ld {
  color: $gold
}

/* LiteralString */
.chroma .s {
  color: $gold
}

/* LiteralStringAffix */
.chroma .sa {
  color: $gold
}

/* LiteralStringBacktick */
.chroma .sb {
  color: $gold
}

/* LiteralStringChar */
.chroma .sc {
  color: $gold
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: $gold
}

/* LiteralStringDoc */
.chroma .sd {
  color: $gold
}

/* LiteralStringDouble */
.chroma .s2 {
  color: $gold
}

/* LiteralStringEscape */
.chroma .se {
  color: $pine
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: $gold
}

/* LiteralStringInterpol */
.chroma .si {
  color: $gold
}

/* LiteralStringOther */
.chroma .sx {
  color: $gold
}

/* LiteralStringRegex */
.chroma .sr {
  color: $gold
}

/* LiteralStringSingle */
.chroma .s1 {
  color: $gold
}

/* LiteralStringSymbol */
.chroma .ss {
  color: $gold
}

/* LiteralNumber */
.chroma .m {
  color: $gold
}

/* LiteralNumberBin */
.chroma .mb {
  color: $gold
}

/* LiteralNumberFloat */
.chroma .mf {
  color: $gold
}

/* LiteralNumberHex */
.chroma .mh {
  color: $gold
}

/* LiteralNumberInteger */
.chroma .mi {
  color: $gold
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: $gold
}

/* LiteralNumberOct */
.chroma .mo {
  color: $gold
}

/* Operator */
.chroma .o {
  color: $subtle
}

/* OperatorWord */
.chroma .ow {
  color: $subtle
}

/* Punctuation */
.chroma .p {
  color: $subtle
}

/* Comment */
.chroma .c {
  color: $muted
}

/* CommentHashbang */
.chroma .ch {
  color: $muted
}

/* CommentMultiline */
.chroma .cm {
  color: $muted
}

/* CommentSingle */
.chroma .c1 {
  color: $muted
}

/* CommentSpecial */
.chroma .cs {
  color: $muted
}

/* CommentPreproc */
.chroma .cp {
  color: $muted
}

/* CommentPreprocFile */
.chroma .cpf {
  color: $muted
}

/* Generic */
.chroma .g {}

/* GenericDeleted */
.chroma .gd {
  color: $love
}

/* GenericEmph */
.chroma .ge {
  font-style: italic
}

/* GenericError */
.chroma .gr {}

/* GenericHeading */
.chroma .gh {}

/* GenericInserted */
.chroma .gi {
  color: $foam
}

/* GenericOutput */
.chroma .go {}

/* GenericPrompt */
.chroma .gp {}

/* GenericStrong */
.chroma .gs {
  font-weight: bold
}

/* GenericSubheading */
.chroma .gu {
  color: $iris
}

/* GenericTraceback */
.chroma .gt {}

/* GenericUnderline */
.chroma .gl {}

/* TextWhitespace */
.chroma .w {}