{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author }}
{{ end }}

{{ define "main" }}

<div>
    <div class="listHeader">
        <h1>{{ .Title }}</h1>
    </div>

    {{ with .Content }}
    <div class="listContent">
        {{- . -}}
    </div>
    {{ end }}

    <div>
        {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "post") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
        {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "post" }}
        {{ $paginator := .Paginate (where .RegularPages "Type" $contentTypeName) }}
        {{ range $paginator.Pages }}

        <a href="{{ .Permalink }}">
            <!-- [html-validate-disable-next prefer-native-element] -->
            <div class="postListItem" role="listitem">
                <div class="postHeader">
                    <div class="postTitle">{{ .Title }}</div>
                    <div class="postDate">{{ .Date.Format "January 2, 2006" }}</div>
                </div>
                <div class="postExcerpt">
                    <p>{{ .Summary }}</p>
                </div>
            </div>
        </a>
        {{end}}
    </div>
    <div class="pagination">
      <div class="wrapper">
        {{ if .Paginator.HasPrev }}
          <span class="button previous">
            <a href="{{ .Paginator.Prev.URL }}">
              <span class="button-icon">←</span>
              <span class="button-text">{{ $.Site.Params.NewerPosts | default "Newer posts" }}</span>
            </a>
          </span>
        {{ end }}
        {{ if .Paginator.HasNext }}
          <span class="button next">
            <a href="{{ .Paginator.Next.URL }}">
              <span class="button-text">{{ $.Site.Params.OlderPosts | default "Older posts" }}</span>
              <span class="button-icon">→</span>
            </a>
          </span>
        {{ end }}
      </div>
    </div>
</div>

{{ end }}
