{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author }}
{{ end }}

{{ define "main" }}

<div>
    <div class="listHeader">
        <h1>~/notes/{{ .Title }}</h1>
    </div>

    <div class="listFilter">
    {{ partial "tags.html" . }}
    </div>

    {{ with .Content }}
    <div class="listContent">
      {{- . -}}
    </div>
    {{ end }}

    <div>
        {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "note") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
        {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "note" }}
        {{ $paginator := .Paginate (where .RegularPages "Type" $contentTypeName) }}
        {{ range $paginator.Pages }}
        {{ partial "compact.html" . }}
        {{end}}
    </div>
    {{ partial "pagination.html" . }}
</div>

{{ end }}
