<header class="headerWrapper">
    <div class="header">
        <div>
            <a href="/">
                <span class="terminal">{{ .Site.Params.user }}@{{ .Site.Params.hostname }} ~ $</span>
                <span class="cursor"></span>
            </a>
        </div>
        <nav class="headerLinks">
            <ul>
                {{ $current := . }}
                {{ range .Site.Menus.header }}
                <li>
                 {{ $active := or ($current.IsMenuCurrent "header" .) ($current.HasMenuCurrent "header" .) }}
                  {{ $active = or $active (eq .Name $current.Title) }}
                  {{ $active = or $active (and (eq .Name "blog") (eq $current.Section .URL)) }}
                    <a href="{{ .URL | relURL }}" {{ if $active }}class="active"{{ end }} title="{{ .Title }}" >
                        ~/{{- .Name -}}
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>
