@import "../utils/variables";

.listHeader, .listContent {
    text-align: left;
}

.postListItem {
    .postCategory {
        text-align: right;
        a {
            color: $love;
            text-decoration: none;
            font-weight: bold;
            margin-right: 1em;
            font-size: 1rem;
        }
    }

}

.pagination {
    .wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        .button {
            width: 50%;
            a {
                color: $gold
            }
        }
    }


}
