@import "../utils/variables";

.listHeader, .listContent {
    text-align: left;
}

.pagination {
    .wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        .button {
            width: 50%;
            a {
                color: $gold
            }
        }
    }


}
